.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.editorStyle{
  color: "black";
  border: "transparent";
  min-height: 600px;
  border-top: "transparent";
  border-bottom: transparent;

}

.App-header {
  background-color: #647A9C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-tab-container{
  width: calc(100% - 40px);
}

.main-tab-button{
  align-self: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  background: none;
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 30px;
  color:#fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.main-body-container{
  padding-left: 15px;
  padding-right:15px;
  padding-top: 100px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.paper{
  flex:2;
  background-color: #fff;
  height: 515px;
  margin-right: 35px;
  overflow-y: scroll;
}


.paper-options{
  display: flex;
  flex: 1;
  height: 500px;
  background-color: none;
  flex-direction: column;
}

.paper-option-buttons{
  width: 100%;;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #fff solid 1px;
  background-color: #647A9C;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.main-tab-line{
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.mic-icon{
  justify-content: center;
  display: flex;
}
.mic-text{
  text-align: center;
  text-justify: center;
  margin-left:10%;
  font-size: 20px;
  color: #fff;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.record-button{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  align-self: center;
  justify-self: center;
  width: 170px;
  height:50px;
  font-size: 25px;
  color: #fff;
  font-family: comic sans ms;
  background-color: #150061;
  border: none;
  border-radius: 15px;
  box-shadow: none;
  letter-spacing:0.5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
